/* logo */
.logo {
  background-image: url(../img/pattern.png);
  background-color:mediumturquoise;
  height: 150px;
}
div>img {
   margin-top:60px;
}
/* fine logo */

/* titolo */
h1 {
  font-size: 50px;
  font-weight:900;
  font-family:Georgia, 'Times New Roman', Times, serif;
}
/* fine titolo */

/* sottotitolo DA MODIFICARE */
.subtitle{
  color: gray;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif
}
.subtitleblue {
  color:mediumturquoise;
}
/* fine sottotitolo */

/* immagini principali */
.imagesprincipal {
  width: auto;
  height: 500px;
}
/* fine immagini principali */

/* paragrafo del main  */
.yellowrite {
  background-color: yellow;
}
/* fine paragrafo del main */

/* lista del main  */
ul {
  margin-left: -20px;
}
/* fine lista del main */

/* tabella del main DA MODIFICARE */
table {
  border-collapse: collapse;
  border-spacing: 30px;
  width: 100%;
}

td {
  height: 50px;
  width:30px;
}

thead {
  background-color: blue;
  color: white;
}
.medium {
  background-color: mediumturquoise;
}

/* fine tabella del main */
/* inizio footer  */
.startfooter {
  color: gray;
  font-weight: 600;
}

.footerwriter {
  background-image: url(../img/monitor.jpg);
  width: 300px;
  height: 200px;
}
.footerwritertwo {
  background-image: url(../img/graph.jpg);
  width: 300px;
  height: 200px;
}
.writerwhite {
  color: white;
  font-weight: 600;
  margin:5px 30px;
}

/* fine footer */